img {
  max-width:100%;
  max-height:100%;
}

.contenuComplet{
  display:flex;
  flex-direction: row;
  border: 1px solid #d4dade;
  width: 865px;
}

.contenuNoms{
  display:flex;
  flex-direction: column;
  width:216px;
  /*border-right: 1px solid #d4dade;*/
}

.vide{
  display:flex;
  flex-grow: 1;
  justify-content: flex-start;

}

.nombreParticipants{
  display:flex;
  align-items: center;
  height:45px;
  border-top: 1px solid #d4dade;
  border-bottom: 1px solid #d4dade;
}

.nombreParticipants span{
  flex-grow: 1;
  padding-left: 16px;
  color: #8696a2;
  font-weight: 500;
  font-style: normal;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
}

.participant{
  display:flex;
  flex-direction:row;
  text-align: left;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  vertical-align:
  margin:0;
  padding:0;

}

.nouveauParticipant{
  border-bottom: 1px solid #ffff;
  background: #91C8E9;
  height: 56px;
}

.imageParticipant{
  margin: 0 16px;
}

.boiteNomNouveauParticipant{
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  line-height:1.4;
  padding-right: 8px;
  box-sizing: border-box;
  flex-grow: 1;
}

.nomNouveauParticipant{
  flex-grow: 1;
  margin: 2px;
  border-radius: 6px;
  background-color: #ffff;
  border: 1px solid transparent;
  padding: 0 8px;
  color: #434e57;
  vertical-align: baseline;
  min-height: 39px;

  display:flex;
  align-items: center;

  font-style:normal;
  font-family: font-family: "Fira Sans","Trebuchet MS","Helvetica Neue",
  "Arial",sans-serif;
  font-size:16px;
}

.boiteNomParticipant{
  white-space: nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
  line-height:1.4;
  padding-right: 8px;
  box-sizing: border-box;
  flex-grow: 1;
}

.listeParticipants{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nomParticipant{
  line-height: 1;
  text-align:left;
  font-size: 14px;
  font-weight: normal;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  color: #434e57;

}

.contenuCompletSelection{
  display:flex;
  flex-direction: row;
  flex-grow: 1;
  text-align: center;
  color: #434e57;
  border:0;
}

.colonneSelection{
  display:flex;
  flex-direction:column;
  max-width: 72px;
  min-width: 72px;
  flex-basis: 72px;
}

.enTeteSelection{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow:1;
  vertical-align: baseline;
}

.blocDate{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  padding: 16px 0 0 0;
  border-right: 1px solid #d4dade;
}


.premier{
  border-left: 1px solid #d4dade;
}

.groupeDate{
  display: flex;
  flex-direction: column;
  color: #434e57;

}

.mois{
  font-size:16px;
  color: #434e57;
  display:block;
  vertical-align: baseline;

}

.date{
  display:block;
  color: #282F34;
  font-size: 26px;
  font-weight: 500;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  margin: 4px 0;
}

.jour{
  color: #5d6e79;
  text-transform: uppercase;
  font-weight: 500;
  font-style: normal;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  letter-spacing: 1px;

}

.detailsSelection{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items:stretch;
  padding: 16px 0 0 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.4;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  /*border-bottom: 1px solid #d4dade;*/
  border-right: 1px solid #d4dade;
}

.temps{
  display: flex;
  flex-grow:1;
  flex-direction:column;
  text-align: center;
  padding: 0 4px;
  margin-bottom: 16px;
}

.tempsDebut{
  display: block;
  text-align:center;
  color: #434e57;

}

.tempsFin{
  display: block;
  text-align:center;
  color: #434e57;
}

.detailNombreDisponible{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 45px;
  border-top: 1px solid #d1dade
}

.contenuImageParticpant{
  display:block;
}

.nombreDisponible{
  display: block;
  margin-left:2px;
  color: #3798D4;
  font-weight: 500;
  font-style:normal;
  font-family: "Fira Sans","Trebuchet MS","Helvetica Neue","Arial",sans-serif;
  white-space: nowrap;
}

.contenuCrochet{
  background:#91C8E9;
  /*border-left:1px solid #fff;*/
  border-bottom:1px solid #fff;
  display:flex;
  align-items: center;
  height:56px;
}

.imageCrochet{
  display: flex;
  align-items: center;
  justify-content: flex-start;

}

.listeChoix{
  display:flex;
  flex-direction: column;

}

.contenuChoix{
  display:flex;
  /*border-bottom:1px solid #ffff;
  border-right: 1px solid #d4dade;*/
  height:45px;
  min-width: 56px;
}
